{% extends 'layouts/application.html' %}

{% block content %}
	{#
	#}
	{% include 'main/promo.html' %}
	<div class="section-divider-half d-none d-md-block"></div>
	{% include 'main/features.html' %}
	<div class="section-divider"></div>
	{% include 'main/lookbook.html' %}
	<div class="section-divider"></div>
	{% include 'main/their-ortmans.html' %}
	<div class="section-divider"></div>
	{% include 'main/competition.html' %}
	<div class="section-divider"></div>
	{% include 'main/why.html' %}
	<div class="section-divider"></div>
	{% include 'main/instagram.html' %}
	<div class="section-divider"></div>
	{% include 'main/tech.html' %}
	<div class="section-divider"></div>
	{% include 'main/map.html' %}
	{% include 'main/rules-modal.html' %}
{% endblock %}
