.catalog-card {
  position: relative;
  width: 100%;
  max-width: 320px;
  transition: $transition-base;
  overflow: hidden;
  box-shadow: none;

  &:hover,
  &.hover {
    box-shadow: $box-shadow;
    margin-bottom: -3.125rem;
  }

  .is-mobile & {
    box-shadow: none;
    margin-bottom: 0;
  }

  &__image-wrap {
    position: relative;
    height: 235px;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .catalog-card__color-r + & {
      transition: $transition-fade;
      opacity: 0;
    }

    .catalog-card__color-r:checked + & {
      opacity: 1;
    }
  }

  &__name {
    font-size: .75rem;
    line-height: 1rem;
    max-width: 100%;
    overflow: hidden;
    max-height: 2rem;
  }

  &__description {
    font-size: .75rem;
    line-height: 1.333;
    font-weight: $font-weight-light;
  }

  &__btn {
    font-size: .75rem;
    line-height: 1.333;
    @include text-truncate;
  }

  &__row {
    width: 100%;
  }

  &__toolbar-group-1,
  &__toolbar-group-2 {
    height: 2.5rem;
    background-color: $white;
    transition: $transition-base;
  }

  &__toolbar-group-1 {
    opacity: 1;
  }

  &__toolbar-group-2 {
    opacity: 0;
    height: 0;
    pointer-events: none;
    overflow: hidden;

    .is-mobile & {
      padding-top: .625rem;
      height: 3.125rem;
      opacity: 1;
      pointer-events: auto;
      overflow: visible;
    }

    .catalog-card:hover &,
    .catalog-card.hover & {
      padding-top: .625rem;
      height: 3.125rem;
      opacity: 1;
      pointer-events: auto;
      overflow: visible;
    }
  }

  &__toolbar {
    position: relative;
    z-index: 2;
  }
}

.catalog-slider {
  &-container {
    padding: 10px 10px 100px 10px;
    margin: -10px -10px -100px -10px;


    .is-mobile & {
      @include media-breakpoint-down(sm) {
        padding: 0;
        margin: 0;
      }
    }
  }

  &-pagination {
    position: static;
  } 

  &-slide {
    position: relative;
    width: 33.3333%;
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &-container-primary {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
} 