.product-detail-slider {
  &-prev,
  &-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    width: 24px;
    height: 24px;
    padding: 0;
    pointer-events: none;
    opacity: 0; 

    .is-desktop & {
      opacity: 1;
      pointer-events: auto;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &.swiper-button-disabled {
      opacity: .25;
      cursor: default;
      pointer-events: none;
    }

    .product-detail-slider-disabled & {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }

  &-prev {
    right: 100%;
    margin-right: 12px;
  }

  &-next {
    left: 100%;
    margin-left: 12px;
  }

  &-prev:not(.swiper-button-disabled):hover .icon-sprite.icon-arrow-prev-sm {
    @include sprite('icon-arrow-prev-sm-white');
  }
  
  &-next:not(.swiper-button-disabled):hover .icon-sprite.icon-arrow-next-sm {
    @include sprite('icon-arrow-next-sm-white');
  } 

  &-slide-image:not(.cover-object) {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  &-title {
    font-size: .75rem;
    font-weight: $font-weight-medium;
  }
}

.product-detail-slider-main,
.product-detail-slider-navigation {
  position: relative;
  max-width: 446px;

  @include media-breakpoint-down(sm) {
    max-width: 320px;
  }
}

.product-detail-slider-navigation-vertical {
  height: 320px;
  width: 66px;
}

.product-detail-slider-main {
  .product-detail-slider-slide.swiper-slide {
    height: 480px;
    width: 480px;

    @include media-breakpoint-down(sm) {
      height: 320px;
      width: 320px;
    }
  }
}

.product-detail-slider-navigation {
  margin-top: 10px;

  .product-detail-slider-slide.swiper-slide {
    width: 66px;
    height: 66px;
    margin-right: 10px;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }

    &.is-selected {
      position: relative;
      cursor: default;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($gray-700, 0.15);
        border: 1px solid $red;
        z-index: 1;
      }
    }

    .product-detail-slider-disabled & {
      cursor: default;
    }
  }
} 