h1.text-uppercase,
.h1.text-uppercase {
	font-size: $h2-font-size;
}

h2.text-uppercase,
.h2.text-uppercase {
	font-size: $h3-font-size;
}

h3.text-uppercase,
.h3.text-uppercase {
	font-size: $h4-font-size;
}

h4.text-uppercase,
.h4.text-uppercase {
	font-size: $h5-font-size;
}